/* I would live to add buttons to different pages up here in the future */

h1 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#clickthis {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(214, 233, 247);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* This is my logo*/

.center {
    width: 700px;
    height: 300px;
    background-color: rgb(201, 218, 217);
}

.h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.p2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#this {
    background-color: rgb(194, 193, 191);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table, th, td{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 100%;
    height: 30px;
    border: 1px solid rgb(136, 131, 131)
}

td, th {
    padding: 10px;
}
tr:hover {background-color: aliceblue;}

/* This is an image from my portfolio to show off my work*/

.man {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    text-align: center;
}

#PS {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.url {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgb(210, 222, 222) ;
}
